{% extends 'index.html' %} {% block title %}Contact Us{% endblock %} {% block
content %}

<!---Banner2-->
<div class="container banner2">
  <div class="position-absolute top-0 start-0 w-100">
    <img
      src="{{ url_for('static', filename='banner2.jpg') }}"
      style="width: 100%; height: 300px"
      alt="Banner Image"
    />
    <div class="shade"></div>
  </div>
</div>

<div class="container first-part" style="margin-top: 350px">
  <div class="row">
    <!-- sideleft -->
    <div class="list-group col-md-3 mb-3 sideleft">
      <a
        class="list-group-item list-group-item-action active"
        style="background-color: rgb(80, 179, 52); border: none"
        aria-current="true"
      >
        Contact Us
      </a>
      <a
        href="{{ url_for('contact_details') }}"
        class="list-group-item list-group-item-action"
        >Contact Details</a
      >
      <a
        href="{{ url_for('contact_message') }}"
        class="list-group-item list-group-item-action"
        >Online Enquiry</a
      >
    </div>

    <!-- sideright -->
    <div class="col-md-9 sideright">
      <h2 class="fw-bold mb-3">Contact Details</h2>
      {% for contactd in contact_details %}
      <div class="col-md-5">
        <div class="container d-flex">
          <div class="col-md-5">
            <h4 class="fw-bold">Address:</h4>
            <p>{{ contactd['contact_address'] }}</p>
          </div>
          <div class="col-md-5 mx-5">
            <h4 class="fw-bold">Email:</h4>
            <p>{{ contactd['contact_email'] }}</p>
          </div>
          <div class="col-md-5 mx-5">
            <h4 class="fw-bold">Telephone:</h4>
            <p>{{ contactd['contact_phone'] }}</p>
          </div>
          <div>
            <h4 class="fw-bold">Facebook:</h4>
            <a href="{{ contactd['facebook_url'] }}" style="font-size: 45px">
              <i class="bi bi-facebook"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <iframe
          src="{{ contactd['contact_map'] }}"
          width="810px"
          height="450px"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
