<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lincoln Golf Club</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <style>
      .navbar-nav .nav-link:hover {
        color: white;
        background-color: rgb(80, 179, 52);
      }
      .dropdown-menu .dropdown-item:hover {
        color: white !important;
        background-color: rgb(80, 179, 52) !important;
      }
      .btn-outline-dark:hover {
        color: white !important;
        background-color: rgb(80, 179, 52) !important;
        border-color: rgb(80, 179, 52) !important;
      }

      .bannerfont {
        display: flex;
        margin-top: 150px;
        font-size: 60px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      @media only screen and (max-width: 767px) {
        .bannerfont {
          margin-top: 200px;
          font-size: 30px;
        }
      }

      #Intro {
        margin-bottom: 100px;
        margin-top: 200px;
      }

      @media only screen and (max-width: 767px) {
        #Intro {
          margin-top: 180px;
        }

        .container {
          width: 90%;
          max-width: none;
          margin: 0 auto;
        }
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="position: fixed; top: 0; width: 100%; z-index: 1000"
    >
      <div class="container">
        <img src="/static/log.png" alt="log" width="50" height="50" />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="home.html">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Golf
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="course.html"
                    >The Golf Course</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="score_card.html"
                    >Score Cards</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Results
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="saturday_pm.html"
                    >Saturday PM</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="saturday_am.html"
                    >Saturday AM</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="sunday_ stable.html"
                    >Sunday Stableford</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="wedwackers.html"
                    >Wednesday Wackers</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="tueswoman.html"
                    >Tuesday Women</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="precup2024.html"
                    >President's Cup 2024</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Events
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="pitchmarks.html"
                    >Fix Pitch Marks</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="shootoutwin.html"
                    >2024 Shootout Winers</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="ladiesfinals.html"
                    >Ladies Finals 2022
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="ladiestournament.html"
                    >Lincoln Ladies Team Tournament
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="mensopen.html"
                    >Lincoln Men's Open
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="clubchamps.html"
                    >2024 Club Champs
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="pairs_champs.html"
                    >Pairs Champs 2023
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="watsontropwin.html"
                    >Watson Trophy
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="ladiesopen.html"
                    >2023 Ladies Open
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Members
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="login.html">Member Login</a>
                </li>
                <li>
                  <a class="dropdown-item" href="photogallery.html"
                    >Photo Gallery</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="programme.html"
                >Programme</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="sponsors.html"
                >Sponsors</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact_details.html">Contact</a>
            </li>
          </ul>
          <div class="container d-flex justify-content-end">
            <a href="login.html" class="btn btn-outline-dark">
              Login/Sign Up
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!---Banner-->
    <div class="container">
      <div class="position-absolute top-0 start-0 w-100 h-100">
        <img
          src="https://static.wixstatic.com/media/6fd3ad_c27f9a53fa704ed399f900c631524430~mv2_d_3072_2304_s_2.jpg/v1/fill/w_2526,h_1142,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/6fd3ad_c27f9a53fa704ed399f900c631524430~mv2_d_3072_2304_s_2.jpg"
          style="width: 100%; height: 500px"
          alt="Banner Image"
        />
        <div
          style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 500px;
            background-color: rgba(0, 0, 0, 0.5);
          "
        ></div>
      </div>
    </div>
    <div class="bannerfont col-md-6 mx-5">
      <h1 class="fw-bold display-5 position-relative z-index-1 text-light">
        Lincoln Golf Club <br />
        Christchurch, <br />
        New Zealand
      </h1>
    </div>
    <button
      type="button"
      class="mx-5 position-relative z-index-1"
      style="
        background-color: rgb(80, 179, 52);
        padding: 10px;
        color: white;
        border: 1px solid transparent;
      "
      onclick="scrollToElement('Intro')"
    >
      About More
    </button>

    <!---introduction-->
    <div id="Intro" class="container">
      <div class="container d-flex justify-content-center">
        <h2 class="fw-bold text-center">Welcome to the Lincoln Golf Club</h2>
      </div>
      <div class="container d-flex justify-content-center text-center">
        <p class="mt-3">
          The Lincoln Golf Club is a challenging and well prepared 9 hole course
          situated on Boundary Road in the University town of Lincoln,
          Canterbury.<br />
          The course is available for play year round so if you are interested
          in having a game contact us via phone or email. <br />
          Green Fees for a full or part round are $25. Each player is required
          to have their own set of clubs.
        </p>
      </div>
      <button
        type="button"
        onclick="redirectToPage('pitchmarks.html')"
        style="
          background-color: rgb(80, 179, 52);
          padding: 10px;
          color: white;
          border: 1px solid transparent;
          margin: 0 auto;
          display: block;
        "
      >
        How to Correctly Fix Your Pitch Marks<i
          class="bi bi-arrow-right-circle-fill mx-2"
        ></i>
      </button>
    </div>

    <!---News--->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="fw-bold text-dark">Golf Club News</h2>
          <hr style="width: 90%" />
          <p class="mt-3">
            Click to learn more about the latest news from Lincoln Golf Club.
          </p>
          <button
            type="button"
            onclick="redirectToPage('news.html')"
            style="
              background-color: rgb(80, 179, 52);
              padding: 10px;
              color: white;
              border: 1px solid transparent;
              margin-top: 20px;
            "
          >
            Learn More
          </button>
        </div>
        <div class="col-md-6 mt-md-0 mt-3">
          <img
            src="\static\img\home\home_module\newsmodule1.jpg"
            style="width: 100%; height: auto"
            class="img-fluid"
            alt="News Image"
          />
        </div>
      </div>
    </div>

    <!--Function-->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 mt-3">
          <img
            src="https://static.wixstatic.com/media/6fd3ad_af7ca11bee784c95b80de96e6a513af3~mv2_d_3072_2304_s_2.jpg/v1/fill/w_790,h_536,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6fd3ad_af7ca11bee784c95b80de96e6a513af3~mv2_d_3072_2304_s_2.jpg"
            style="width: 100%; height: auto"
            class="img-fluid"
            alt="Function Centre Image"
          />
        </div>
        <div class="col-md-6 mt-3">
          <h2 class="fw-bold text-dark">Function Centre</h2>
          <hr style="width: 90%" />
          <p class="mt-3">
            Click to learn more about the function center from Lincoln Golf
            Club.
          </p>
          <button
            type="button"
            onclick="redirectToPage('function_centre.html')"
            style="
              display: inline-block;
              background-color: rgb(80, 179, 52);
              padding: 10px;
              color: white;
              border: 1px solid transparent;
              margin-top: 20px;
            "
          >
            Learn More
          </button>
        </div>
      </div>
    </div>

    <!---Membership--->
    <div class="container mt-3">
      <div class="row align-items-center">
        <div class="col-md-6 mt-3">
          <h2 class="fw-bold text-dark">Membership Application</h2>
          <hr style="width: 90%" />
          <p class="mt-3">
            Click to learn more about membership categories and how to apply.
          </p>
          <button
            type="button"
            onclick="redirectToPage('member_application.html')"
            style="
              background-color: rgb(80, 179, 52);
              padding: 10px;
              color: white;
              border: 1px solid transparent;
              margin-top: 20px;
            "
          >
            Learn More
          </button>
        </div>
        <div class="col-md-6 mt-3">
          <img
            src="\static\img\home\home_module\newsmodule3.jpg"
            style="width: 100%; height: auto"
            class="img-fluid"
            alt="Membership Image"
          />
        </div>
      </div>
    </div>

    <!--Opeaning Hours-->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 mt-3">
          <img
            src="https://static.wixstatic.com/media/6fd3ad_57001a846b924243a9317a1e6a03a8e2~mv2_d_3072_2304_s_2.jpg/v1/fill/w_1064,h_798,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6fd3ad_57001a846b924243a9317a1e6a03a8e2~mv2_d_3072_2304_s_2.jpg"
            style="width: 100%; height: auto"
            class="img-fluid"
            alt="Opeaning Hour Image"
          />
        </div>
        <div class="col-md-6 mt-3">
          <h2 class="fw-bold text-dark">Opening Hours</h2>
          <hr style="width: 90%" />
          <p class="mt-3">
            Click to learn more about the opening hours of Lincoln Golf Club.
          </p>
          <button
            type="button"
            onclick="redirectToPage('open_hours.html')"
            style="
              background-color: rgb(80, 179, 52);
              padding: 10px;
              color: white;
              border: 1px solid transparent;
              margin-top: 20px;
            "
          >
            Learn More
          </button>
        </div>
      </div>
    </div>

    <!---sponser--->
    <h3 class="fw-bold text-center" style="margin: 70px 0">Our Sponsors</h3>
    <div class="container d-flex justify-content-center">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="mx-2 mb-2">
          <img
            src="https://static.wixstatic.com/media/24e51b_6797ef4dc2f94415833be73dee64d642~mv2.png/v1/fill/w_392,h_202,al_c,lg_1,q_85,enc_auto/24e51b_6797ef4dc2f94415833be73dee64d642~mv2.png"
            style="width: 120px; height: auto"
            class="img-fluid"
            alt="Sponser1 Image"
          />
        </div>
        <div class="mx-2 mb-2">
          <img
            src="https://static.wixstatic.com/media/24e51b_f3ee6810a0df4e0a9fd1bf6456f7e563~mv2_d_3275_2072_s_2.jpg/v1/fill/w_990,h_510,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/24e51b_f3ee6810a0df4e0a9fd1bf6456f7e563~mv2_d_3275_2072_s_2.jpg"
            style="width: 120px; height: auto"
            class="img-fluid"
            alt="Sponser2 Image"
          />
        </div>
        <div class="mx-2 mb-3">
          <img
            src="https://static.wixstatic.com/media/24e51b_c478412f64584b0784b483bc3b1e1755~mv2.jpg/v1/fill/w_571,h_294,al_c,lg_1,q_80,enc_auto/24e51b_c478412f64584b0784b483bc3b1e1755~mv2.jpg"
            style="width: 120px; height: auto"
            class="img-fluid"
            alt="Sponser3 Image"
          />
        </div>
        <div class="mx-2 mb-3">
          <img
            src="https://static.wixstatic.com/media/6fd3ad_6153f3f370064bb9b5e1255804163db9~mv2.jpg/v1/fill/w_764,h_394,al_c,q_80,enc_auto/6fd3ad_6153f3f370064bb9b5e1255804163db9~mv2.jpg"
            style="width: 120px; height: auto"
            class="img-fluid"
            alt="Sponser4 Image"
          />
        </div>
        <div class="mx-2 mb-3">
          <img
            src="https://static.wixstatic.com/media/6fd3ad_21cccfa4be8d431e89b0c0d82a0cb5a5~mv2.jpg/v1/fill/w_910,h_469,al_c,q_85,enc_auto/6fd3ad_21cccfa4be8d431e89b0c0d82a0cb5a5~mv2.jpg"
            style="width: 120px; height: auto"
            class="img-fluid"
            alt="Sponser5 Image"
          />
        </div>
      </div>
    </div>

    <!---footer-->
    <div
      style="
        width: auto;
        height: 220px;
        background-color: rgb(80, 179, 52);
        margin-top: 100px;
        position: relative;
      "
    >
      <div
        class="container mx-3 footercontent"
        style="position: absolute; top: 50px; line-height: 0.5"
      >
        <h3 class="fw-bold text-light">Contact Us:</h3>
        <div>
          <p style="color: white; font-size: 13px">
            <i class="bi bi-geo-alt-fill"></i
            ><span style="margin-right: 10px"><strong> Address:</strong></span
            >Boundary Road PO Box 69005 Lincoln Christchurch 7676
          </p>
          <p style="color: white; font-size: 13px">
            <i class="bi bi-envelope-fill"></i
            ><span style="margin-right: 10px"><strong> Email:</strong></span
            >admin@lincolngolf.co.nz
          </p>
          <p style="color: white; font-size: 13px">
            <i class="bi bi-telephone-fill"></i
            ><span style="margin-right: 10px"><strong> Phone:</strong></span
            >(03) 325 2453
          </p>
        </div>
        <!---social media-->
        <a
          href="https://www.facebook.com/lincolngolfclubNZ"
          style="font-size: 30px; color: rgb(255, 255, 255)"
        >
          <i class="bi bi-facebook"></i>
        </a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var navbar = document.querySelector(".navbar");
        var threshold = 100;
        window.addEventListener("scroll", function () {
          if (window.scrollY > threshold) {
            navbar.classList.add("navbar-scrolled");
          } else {
            navbar.classList.remove("navbar-scrolled");
          }
        });
      });

      function scrollToElement(elementId) {
        var element = document.getElementById(elementId);
        if (element) {
          element.scrollIntoView({ behavior: "smooth" });
        }
      }

      function redirectToPage(url) {
        window.location.href = url;
      }
    </script>
  </body>
</html>
