<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for ('static', filename='/favicon.ico')}}"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="position: fixed; top: 0; width: 100%; z-index: 1000"
    >
      <div class="container">
        <img src="/static/log.png" alt="log" width="50" height="50" />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            {% for nav in nav_details %} {% if nav['nav_order'] == 1 %}
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('home') }}"
                >{{nav['nav_title']}}</a
              >
            </li>
            {% elif nav['nav_order'] == 2 %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{nav['nav_title']}}
              </a>
              <ul class="dropdown-menu">
                {% for dropdown in dropdown_details %} {% if
                dropdown['category'] == nav['nav_order'] %} {% if
                dropdown['drop_order'] == 1 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('course') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 2 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('score_card') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% endif %} {% endif %} {% endfor %}
              </ul>
            </li>
            {% elif nav['nav_order'] == 3 %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{nav['nav_title']}}
              </a>
              <ul class="dropdown-menu">
                {% for dropdown in dropdown_details %} {% if
                dropdown['category'] == nav['nav_order'] %} {% if
                dropdown['drop_order'] == 1 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('saturday_am') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 2 %}
                <li>
                  <a class="dropdown-item" href="{{ url_for('saturday_pm') }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 3 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('sunday_stable') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 4 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('wedwackers') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 5 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('tueswoman') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 6 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('precup') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% endif %} {% endif %} {% endfor %}
              </ul>
            </li>
            {% elif nav['nav_order'] == 4 %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{nav['nav_title']}}
              </a>
              <ul class="dropdown-menu">
                {% for dropdown in dropdown_details %} {% if
                dropdown['category'] == nav['nav_order'] %} {% if
                dropdown['drop_order'] == 1 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('pitchmarks') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 2 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('shootoutwin') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 3 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('ladiesfinals') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}
                  </a>
                </li>
                {% elif dropdown['drop_order'] == 4 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('ladiestournament') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}
                  </a>
                </li>
                {% elif dropdown['drop_order'] == 5 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('mensopen') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}
                  </a>
                </li>
                {% elif dropdown['drop_order'] == 6 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('clubchamps') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}
                  </a>
                </li>
                {% elif dropdown['drop_order'] == 7 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('pairs_champs') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}
                  </a>
                </li>
                {% elif dropdown['drop_order'] == 8 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('watsontropwin') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}
                  </a>
                </li>
                {% elif dropdown['drop_order'] == 9 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('ladiesopen') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{dropdown['droptitle']}}
                  </a>
                </li>
                {% endif %} {% endif %} {% endfor %}
              </ul>
            </li>

            {% elif nav['nav_order'] == 5 %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ nav['nav_title'] }}
              </a>
              <ul class="dropdown-menu">
                {% for dropdown in dropdown_details %} {% if
                dropdown['category'] == nav['nav_order'] %} {% if
                session.loggedin %} {% if dropdown['drop_order'] == 1 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('login') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{ dropdown['droptitle'] }}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 2 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('photogallery') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{ dropdown['droptitle'] }}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 3 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('clubofficesub') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{ dropdown['droptitle'] }}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 4 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('startermarker') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{ dropdown['droptitle'] }}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 5 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('macommitteem') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{ dropdown['droptitle'] }}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 6 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('agmminutes') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >AGM Minutes</a
                  >
                </li>
                {% endif %} {% else %} {% if dropdown['drop_order'] == 1 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('login') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{ dropdown['droptitle'] }}</a
                  >
                </li>
                {% elif dropdown['drop_order'] == 2 %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('photogallery') }}"
                    id="{{ dropdown['dropnavid'] }}"
                    >{{ dropdown['droptitle'] }}</a
                  >
                </li>
                {% endif %} {% endif %} {% endif %} {% endfor %}
              </ul>
            </li>
            {% elif nav['nav_order'] == 6 %}
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('programme') }}"
                >{{nav['nav_title']}}</a
              >
            </li>
            {% elif nav['nav_order'] == 7 %}
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('sponsors') }}"
                >{{nav['nav_title']}}</a
              >
            </li>
            {% elif nav['nav_order'] == 8 %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_details') }}"
                >{{nav['nav_title']}}</a
              >
            </li>
            {% endif %}{% endfor %}
          </ul>
          <div class="container">
            <div class="d-flex justify-content-end">
              {% if session.loggedin %}
              <ul class="nav">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="color: rgb(80, 179, 52)"
                    >Welcome, {{ session.email }}</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{{ url_for('logout') }}"
                        >Log out</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('profile') }}"
                        >Access Dashboard</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
              {% else %}
              <a href="{{ url_for('login') }}" class="btn btn-outline-dark"
                >Login/Sign Up</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <header>{% block header %}{% endblock %}</header>
    <section>
      {% if msg %}
      <div class="alert alert-danger mt-5" role="alert">{{ msg }}</div>
      {% endif %} {% block content %}{% endblock %}
    </section>

    <!---footer-->
    <div
      class="footer"
      style="
        width: auto;
        height: 230px;
        background-color: rgb(80, 179, 52);
        margin-top: 100px;
        position: relative;
      "
    >
      <div
        class="container mx-3 footercontent"
        style="position: absolute; top: 50px; line-height: 0.5"
      >
        <h3 class="fw-bold text-light">Contact Us:</h3>
        <div class="row">
          <div class="col-md-6">
            {% for footer in footer_details %}
            <div>
              <p style="color: white; font-size: 13px">
                <i class="bi bi-geo-alt-fill"></i
                ><span style="margin-right: 10px"
                  ><strong> Address:</strong></span
                >{{ footer['contact_address'] }}
              </p>
              <p style="color: white; font-size: 13px">
                <i class="bi bi-envelope-fill"></i
                ><span style="margin-right: 10px"><strong> Email:</strong></span
                >{{ footer['contact_email'] }}
              </p>
              <p style="color: white; font-size: 13px">
                <i class="bi bi-telephone-fill"></i
                ><span style="margin-right: 10px"><strong> Phone:</strong></span
                >{{ footer['contact_phone'] }}
              </p>
            </div>
            <!---social media-->
            <a
              href="{{ footer['facebook_url'] }}"
              style="font-size: 30px; color: rgb(255, 255, 255)"
            >
              <i class="bi bi-facebook"></i>
            </a>
            <div class="mb-3"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
