{% extends 'adminbase.html' %} {% block title %}Edit Function Centre{% endblock
%} {% block content %}
<body>
  <div class="container" style="margin-top: 100px">
    <h2 class="fw-bold text-center">Edit Course</h2>
    <form
      action="/mananfuncenedit/{{ hdetailsid }}"
      method="POST"
      autocomplete="off"
    >
      {% for funcentre in funcentre_details %} {% if funcentre['hdetailsid'] ==
      hdetailsid %}
      <div class="mb-3">
        <input
          type="hidden"
          name="hdetailsid"
          value="{{ funcentre['hdetailsid'] }}"
        />
      </div>
      <div class="mb-3">
        <label for="FormTitleInput" class="form-label">Page Title</label>
        <input
          type="text"
          class="form-control"
          id="FormTitleInput"
          name="hdetails_title"
          value="{{ funcentre['hdetails_title'] }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="FormSubtitleInput" class="form-label">Subtitle</label>
        <input
          type="text"
          class="form-control"
          id="FormSubtitleInput"
          name="hdetails_subtitle"
          value="{{ funcentre['hdetails_subtitle'] }}"
        />
      </div>
      <div class="mb-3">
        <label for="FormFuncenDesInput" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="FormFuncenDesInput"
          name="hdetails_des"
          rows="5"
          maxlength="2000"
        >
{{ funcentre['hdetails_des'] }}</textarea
        >
      </div>
      {% endif %} {% endfor %}
      <div class="d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-outline-dark"
          onclick="redirectToPage('{{ url_for('mananfuncen') }}')"
          style="margin: 5px"
        >
          Back
        </button>
        <button
          type="button"
          class="btn btn-outline-light mt-4"
          style="background-color: rgb(80, 179, 52)"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Submit Form
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                  Edit Contact
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Do you want to edit the function centre information?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-outline-light"
                  style="background-color: rgb(80, 179, 52)"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="mb-5"></div>
  </div>
  {% endblock %}
</body>
