{% extends 'adminbase.html' %} {% block title %}Edit Member Application{%
endblock %} {% block content %}
<body>
  <div class="container" style="margin-top: 100px">
    <h2 class="fw-bold text-center">Edit Member Applicatio</h2>
    <form
      action="/manamemberapplyedit/{{hdetailsid}}"
      method="POST"
      autocomplete="off"
    >
      {% for memberapplication in memberapplication_details %} {% if
      memberapplication['hdetailsid'] == hdetailsid %}
      <div class="mb-3">
        <input
          type="hidden"
          name="hdetailsid"
          value="{{ memberapplication['hdetailsid'] }}"
        />
      </div>
      <div class="mb-3">
        <label for="FormMemberApplyTitleInput" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="FormMemberApplyTitleInput"
          name="hdetails_title"
          value="{{ memberapplication['hdetails_title'] }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="FormMemberApplyOrderInput" class="form-label"
          >Order Number</label
        >
        <input
          type="text"
          class="form-control"
          id="FormMemberApplyOrderInput"
          name="hdetails_suborder"
          value="{{ memberapplication['hdetails_suborder'] }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="FormMemberApplySubtitleInput" class="form-label"
          >Subtitle</label
        >
        <input
          type="text"
          class="form-control"
          id="FormMemberApplySubtitleInpu"
          name="newssubtitle"
          value="{{ memberapplication['hdetails_subtitle'] }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="FormMemberApplySubdtitleInput" class="form-label"
          >Heading</label
        >
        <input
          type="text"
          class="form-control"
          id="FormMemberApplySubdtitleInpu"
          name="hdetails_dropsubtitle"
          value="{{ memberapplication['hdetails_subtitle'] }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="FormMemberApplyDesInput" class="form-label"
          >Description</label
        >
        <textarea
          type="text"
          class="form-control"
          id="FormMemberApplyDesInput"
          name="hdetails_des"
          rows="5"
          maxlength="2000"
          required
        >
        {{memberapplication['hdetails_des'] }}
                </textarea
        >
      </div>
      {% endif %}{% endfor %}
      <div class="d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-outline-dark"
          onclick="redirectToPage('{{ url_for('manamemberapply') }}')"
          style="margin: 5px"
        >
          Back
        </button>
        <button
          type="button"
          class="btn btn-outline-light mt-4"
          style="background-color: rgb(80, 179, 52)"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Submit Form
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                  Edit Member Application
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Do you want to edit the member application?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-outline-light"
                  style="background-color: rgb(80, 179, 52)"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="mb-5"></div>
  </div>
  {% endblock %}
</body>
