{% extends 'adminbase.html' %} {% block title %}Add Admin{% endblock %} {% block
content %}
<div class="container" style="margin-top: 100px"></div>

<form action="/manamemberadminadd" method="POST">
  <div
    class="container d-flex justify-content-center align-items-center"
    style="margin-top: 100px"
  >
    <div class="col-md-4">
      <h3
        class="contanier d-flex justify-content-center fw-bold mb-3 text-secondary"
      >
        Admin Sign Up
      </h3>

      <!-- FirstName input -->
      <div class="form-outline mb-4">
        <input
          type="text"
          name="firstname"
          id="firstname"
          class="form-control"
          required
        />
        <label class="form-label" for="firstname">First Name</label>
      </div>

      <!-- SurName input -->
      <div class="form-outline mb-4">
        <input
          type="text"
          name="surname"
          id="surname"
          class="form-control"
          required
        />
        <label class="form-label" for="surname">Surname</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          required
        />
        <label class="form-label" for="email">Email address</label>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- Password Confirm input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="confirmpassword"
          class="form-control"
          name="confirmpassword"
          required
        />
        <label class="form-label" for="confirmpassword">Confirm Password</label>
      </div>
      <!-- add reCAPTCHA -->
      <div class="g-recaptcha" data-sitekey="你的Site key"></div>

      <!-- Submit button -->
      <button
        type="submit"
        class="btn custom-btn btn-block mb-4 container d-flex justify-content-center"
      >
        Sign Up
      </button>
      <div style="margin-bottom: 20px"></div>
    </div>

    {% endblock %}
  </div>
</form>
