{% extends 'index.html' %} {% block title %}News{% endblock %} {% block content
%}
<!---Banner2-->
<div class="container banner2">
  <div class="position-absolute top-0 start-0 w-100">
    <img
      src="{{ url_for('static', filename='banner2.jpg') }}"
      style="width: 100%; height: 300px"
      alt="Banner Image"
    />
    <div class="shade"></div>
  </div>
</div>

<div class="container first-part">
  <div
    class="container d-flex justify-content-center mb-3"
    style="margin-top: 350px"
  >
    {% if news_tdetails[0]['homeorder'] == 2 %}
    <h2 class="fw-bold text-center">{{news_tdetails[0]['hdetails_title']}}</h2>
    {% endif %}
  </div>

  <!---news card-->
  <div class="container d-flex flex-wrap justify-content-center">
    {% for news in news_tdetails%}
    <div class="col-md-12 mb-3">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">{{news['hdetails_subtitle']}}</h5>
          <p class="card-text">{{news['hdetails_des']}}</p>
          <button
            type="button"
            onclick="redirectToPage('{{ url_for('news_details') }}')"
            style="
              display: inline-block;
              background-color: rgb(80, 179, 52);
              padding: 10px;
              color: white;
              border: 1px solid transparent;
            "
          >
            Read More
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
