<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Edit Password{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for ('static', filename='/favicon.ico')}}"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  {% if msg %}
  <div class="alert alert-success" role="alert">{{ msg }}</div>
  {% endif %}
  <body>
    <div class="container" style="margin-top: 100px">
      <h2 class="fw-bold text-center">Edit Password</h2>
      <form action="/passwordedit" method="POST" autocomplete="off">
        <label for="EditPasswordInput" class="form-label">Password</label>
        <input
          class="form-control"
          id="EditPasswordInput"
          name="password"
          type="password"
          required
        />

        <label for="EditConfirmPassInput" class="form-label mb-3"
          >Confirm Password</label
        >
        <input
          class="form-control"
          id="EditConfirmPassInput"
          name="confirm_password"
          type="password"
          required
        />
        <div class="d-flex justify-content-between mt-5">
          <button
            type="button"
            class="btn btn-outline-dark"
            onclick="redirectToPage('{{ url_for('profile') }}')"
          >
            Back
          </button>
          <button
            type="button"
            class="btn btn-outline-light"
            style="background-color: rgb(80, 179, 52)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Submit Form
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Edit Password
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Do you want to edit password information?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-outline-light"
                    style="background-color: rgb(80, 179, 52)"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="mb-5"></div>
    </div>
  </body>
</html>
